@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Auth{
  height:100vh;
  width:100%;
  background-image: -webkit-linear-gradient(225deg, #f7f7f7 50%, #fcc5be 50%);
  background-position:right;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items: center;
}
